# Django
APP_SECRET_KEY=some-secure-secret-key
ALLOWED_HOSTS=['localhost']
DEBUG=True

# Postgres
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# SKYWALKER
SW_AGENT_COLLECTOR_BACKEND_SERVICES=localhost:12800
SW_AGENT_NAME=app
SW_AGENT_LOGGING_LEVEL=DEBUG

